{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Encuesta - Servicio{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_previous('Encuesta de Servicio', url_for('enc_servicios.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card('Información General') %}
        {{ detail.label_value('Período:', detalle.periodo) }}
        {{ detail.label_value('Distrito:', detalle.distrito_nombre) }}
        {{ detail.label_value('Oficina:', detalle.oficina_nombre) }}
        {{ detail.label_value('Encuestas envíadas:', detalle.encuestados) }}
        {{ detail.label_value('Total de Votos:', detalle.total_votos ~ ', participación del: ' ~ detalle.total_votos_porcentaje ~ '%') }}
        <!-- Barra de votaciones -->
        <div class="row align-items-center mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-label="contestados" style="width: {{detalle.contestados_porcentaje}}%;" aria-valuenow="{{detalle.contestados_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.contestados_porcentaje}}%</div>
                <div class="progress-bar bg-danger" role="progressbar" aria-label="cancelados" style="width: {{detalle.cancelados_porcentaje}}%" aria-valuenow="{{detalle.cancelados_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.cancelados_porcentaje}}%</div>
                <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="pendientes" style="width: {{detalle.pendientes_porcentaje}}%" aria-valuenow="{{detalle.pendientes_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.pendientes_porcentaje}}%</div>
            </div>
        </div>
        <div class="col-1"></div>
        </div>
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-auto">
                <span class="badge bg-success">Contestados: {{detalle.contestados}}</span>
                <span class="badge bg-danger">Cancelados: {{detalle.cancelados}}</span>
                <span class="badge bg-warning text-dark">Pendentes: {{detalle.pendientes}}</span>
            </div>
            <div class="col"></div>
        </div>
    {% endcall %}

    {% call list.card('Análisis de Respuestas') %}
        <div class="chart-container">
            <canvas id="chart_01" style="max-height:200px; text-aling:center;"></canvas>
        </div>
        <!-- Barra de votaciones -->
        <div class="row align-items-center mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="contestados" style="width: {{detalle.respuesta_01.votos_bien_porcentaje}}%;" aria-valuenow="{{detalle.respuesta_01.votos_bien_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_01.votos_bien_porcentaje}}%</div>
                    <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="pendientes" style="width: {{detalle.respuesta_01.votos_normal_porcentaje}}%" aria-valuenow="{{detalle.respuesta_01.votos_normal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_01.votos_normal_porcentaje}}%</div>
                    <div class="progress-bar bg-danger" role="progressbar" aria-label="cancelados" style="width: {{detalle.respuesta_01.votos_mal_porcentaje}}%" aria-valuenow="{{detalle.respuesta_01.votos_mal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_01.votos_mal_porcentaje}}%</div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col"></div>
            <div class="col-auto">
                <span class="badge bg-success">Satisfecho: {{detalle.respuesta_01.valor_04 + detalle.respuesta_01.valor_05}}</span>
                <span class="badge bg-warning text-dark">Neutral: {{detalle.respuesta_01.valor_03}}</span>
                <span class="badge bg-danger">Insatisfecho: {{detalle.respuesta_01.valor_01 + detalle.respuesta_01.valor_02}}</span>
            </div>
            <div class="col"></div>
        </div>
        {% if detalle.respuesta_01.resultado_formula < 33.33 %}
            {% set resultado_01 = '<h5>' ~ detalle.respuesta_01.resultado_formula ~ ' - <span class="badge bg-danger">malo</span></h5>' %}
        {% elif detalle.respuesta_01.resultado_formula > 66.66  %}
            {% set resultado_01 = '<h5>' ~ detalle.respuesta_01.resultado_formula ~ ' - <span class="badge bg-success">bueno</span></h5>' %}
        {% else %}
            {% set resultado_01 = '<h5>' ~ detalle.respuesta_01.resultado_formula ~ ' - <span class="badge bg-warning text-dark">normal</span></h5>' %}
        {% endif %}
        {{ detail.label_value('Resultado:', resultado_01) }}

        <hr class="mt-3">

        <div class="chart-container">
            <canvas id="chart_02" style="max-height:200px; text-aling:center;"></canvas>
        </div>
        <!-- Barra de votaciones -->
        <div class="row align-items-center mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="contestados" style="width: {{detalle.respuesta_02.votos_bien_porcentaje}}%;" aria-valuenow="{{detalle.respuesta_02.votos_bien_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_02.votos_bien_porcentaje}}%</div>
                    <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="pendientes" style="width: {{detalle.respuesta_02.votos_normal_porcentaje}}%" aria-valuenow="{{detalle.respuesta_02.votos_normal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_02.votos_normal_porcentaje}}%</div>
                    <div class="progress-bar bg-danger" role="progressbar" aria-label="cancelados" style="width: {{detalle.respuesta_02.votos_mal_porcentaje}}%" aria-valuenow="{{detalle.respuesta_02.votos_mal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_02.votos_mal_porcentaje}}%</div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col"></div>
            <div class="col-auto">
                <span class="badge bg-success">Satisfecho: {{detalle.respuesta_02.valor_04 + detalle.respuesta_02.valor_05}}</span>
                <span class="badge bg-warning text-dark">Neutral: {{detalle.respuesta_02.valor_03}}</span>
                <span class="badge bg-danger">Insatisfecho: {{detalle.respuesta_02.valor_01 + detalle.respuesta_02.valor_02}}</span>
            </div>
            <div class="col"></div>
        </div>
        {% if detalle.respuesta_02.resultado_formula < 33.33 %}
            {% set resultado_02 = '<h5>' ~ detalle.respuesta_02.resultado_formula ~ ' - <span class="badge bg-danger">malo</span></h5>' %}
        {% elif detalle.respuesta_02.resultado_formula > 66.66  %}
            {% set resultado_02 = '<h5>' ~ detalle.respuesta_02.resultado_formula ~ ' - <span class="badge bg-success">bueno</span></h5>' %}
        {% else %}
            {% set resultado_02 = '<h5>' ~ detalle.respuesta_02.resultado_formula ~ ' - <span class="badge bg-warning text-dark">normal</span></h5>' %}
        {% endif %}
        {{ detail.label_value('Resultado:', resultado_02) }}

        <hr class="mt-3">

        <div class="chart-container">
            <canvas id="chart_03" style="max-height:200px; text-aling:center;"></canvas>
        </div>
        <!-- Barra de votaciones -->
        <div class="row align-items-center mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="contestados" style="width: {{detalle.respuesta_03.votos_bien_porcentaje}}%;" aria-valuenow="{{detalle.respuesta_03.votos_bien_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_03.votos_bien_porcentaje}}%</div>
                    <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="pendientes" style="width: {{detalle.respuesta_03.votos_normal_porcentaje}}%" aria-valuenow="{{detalle.respuesta_03.votos_normal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_03.votos_normal_porcentaje}}%</div>
                    <div class="progress-bar bg-danger" role="progressbar" aria-label="cancelados" style="width: {{detalle.respuesta_03.votos_mal_porcentaje}}%" aria-valuenow="{{detalle.respuesta_03.votos_mal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.respuesta_03.votos_mal_porcentaje}}%</div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col"></div>
            <div class="col-auto">
                <span class="badge bg-success">Satisfecho: {{detalle.respuesta_03.valor_04 + detalle.respuesta_03.valor_05}}</span>
                <span class="badge bg-warning text-dark">Neutral: {{detalle.respuesta_03.valor_03}}</span>
                <span class="badge bg-danger">Insatisfecho: {{detalle.respuesta_03.valor_01 + detalle.respuesta_03.valor_02}}</span>
            </div>
            <div class="col"></div>
        </div>
        {% if detalle.respuesta_03.resultado_formula < 33.33 %}
            {% set resultado_03 = '<h5>' ~ detalle.respuesta_03.resultado_formula ~ ' - <span class="badge bg-danger">malo</span></h5>' %}
        {% elif detalle.respuesta_03.resultado_formula > 66.66  %}
            {% set resultado_03 = '<h5>' ~ detalle.respuesta_03.resultado_formula ~ ' - <span class="badge bg-success">bueno</span></h5>' %}
        {% else %}
            {% set resultado_03 = '<h5>' ~ detalle.respuesta_03.resultado_formula ~ ' - <span class="badge bg-warning text-dark">normal</span></h5>' %}
        {% endif %}
        {{ detail.label_value('Resultado:', resultado_03) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Gráfica -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
        // Se establecen los datos comunes para todas las gráficas
        let data_chart = {
            labels: ['Muy Insatisfecho', 'Insatisfecho', 'Neutro', 'Satisfecho', 'Muy Satisfecho'],
            datasets: [{
                label: 'Votos',
                backgroundColor: [
                    "#dc3545",
                    "#dc3545",
                    "#ffc107",
                    "#198754",
                    "#198754",
                    ],
                data: [
                    {{detalle.respuesta_01.valor_01}},
                    {{detalle.respuesta_01.valor_02}},
                    {{detalle.respuesta_01.valor_03}},
                    {{detalle.respuesta_01.valor_04}},
                    {{detalle.respuesta_01.valor_05}}
                ],
            }]
        };

        let config = {
            type: 'bar',
            data: data_chart,
            options: {
                indexAxis: 'y',
                plugins: {
                    title: {
                        display: true,
                        text: '¿Cómo te sientes con la atención que recibiste para realizar tu trámite?',
                        font: {
                            size: 18
                        }
                    },
                    legend: {
                        position: 'right',
                    }
                }
            }
        };
        // Construcción de la gráfica 01
        const chart_01 = new Chart(
            document.getElementById('chart_01'),
            config
        );

        // Gráfica 02

        data_chart['datasets'][0]['data'] = [
            {{detalle.respuesta_02.valor_01}},
            {{detalle.respuesta_02.valor_02}},
            {{detalle.respuesta_02.valor_03}},
            {{detalle.respuesta_02.valor_04}},
            {{detalle.respuesta_02.valor_05}},
        ];
        config['options']['plugins']['title']['text'] = '¿Cómo calificarías el tiempo de atención para realizar tu trámite?';
        config['data'] = data_chart;
        // Construcción de la gráfica 01
        const chart_02 = new Chart(
            document.getElementById('chart_02'),
            config
        );

        // Gráfica 03

        data_chart['datasets'][0]['data'] = [
            {{detalle.respuesta_03.valor_01}},
            {{detalle.respuesta_03.valor_02}},
            {{detalle.respuesta_03.valor_03}},
            {{detalle.respuesta_03.valor_04}},
            {{detalle.respuesta_03.valor_05}},
        ];
        config['options']['plugins']['title']['text'] = '¿Cómo calificarías tu experiencia con el servicio brindado?';
        // Construcción de la gráfica 01
        const chart_03 = new Chart(
            document.getElementById('chart_03'),
            config
        );
    </script>
{% endblock %}
