{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Cliente Recuperacion{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(cit_cliente_recuperacion.email) %}
        {{ topbar.button_previous('Clientes Recuperaciones', url_for('cit_clientes_recuperaciones.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_cliente_recuperacion.estatus) %}
        {{ detail.label_value_big('Correo electronico', cit_cliente_recuperacion.email) }}
        {{ detail.label_value('Expiracion', moment(lista_de_acuerdo.expiracion, local=True).format('DD MMM YYYY')) }}
        {{ detail.label_value('Ya recuperado', cit_cliente_recuperacion.ya_recuperado) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
