{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Pago{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Pago ' + pag_pago.id | string) %}
        {{ topbar.button_previous('Pagos', url_for('pag_pagos.list_active')) }}
        {% if current_user.can_edit('PAG PAGOS') %}
            {% if pag_pago.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('pag_pagos.delete', pag_pago_id=pag_pago.id)) }}{% endif %}
            {% if pag_pago.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('pag_pagos.recover', pag_pago_id=pag_pago.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% if pag_pago.estado == "SOLICITADO" %}
        {% set estado_bgcolor = "#fff3cd" %}
    {% elif pag_pago.estado == "CANCELADO" %}
        {% set estado_bgcolor = "#f8f9fa" %}
    {% elif pag_pago.estado == "FALLIDO" %}
        {% set estado_bgcolor = "#f8d7da" %}
    {% elif pag_pago.estado == "PAGADO" %}
        {% set estado_bgcolor = "#d1e7dd" %}
    {% endif %}
    <div class="card mb-3">
        <div class="card-body" style="background-color:{{estado_bgcolor}};">
        <div class="row">
            <div class="col-md-3 text-end">
                <span style="font-size:2em">Estado</span>
            </div>
            <div class="col-md-9">
                {% if pag_pago.estado == "SOLICITADO" %}
                    {% set estado_class = "bg-warning text-dark" %}
                {% elif pag_pago.estado == "CANCELADO" %}
                    {% set estado_class = "bg-secondary" %}
                {% elif pag_pago.estado == "FALLIDO" %}
                    {% set estado_class = "bg-danger" %}
                {% elif pag_pago.estado == "PAGADO" %}
                    {% set estado_class = "bg-success" %}
                {% endif %}
                <span class="badge rounded-pill {{estado_class}}" style="font-size:2em">{{pag_pago.estado}}</span>
            </div>
        </div>
        {% if current_user.can_view('CIT CLIENTES') %}
            {{ detail.label_value('Cliente', pag_pago.cit_cliente.nombre, url_for('cit_clientes.detail', cit_cliente_id=pag_pago.cit_cliente_id)) }}
        {% else %}
            {{ detail.label_value('Cliente', pag_pago.cit_cliente.nombre) }}
        {% endif %}
        {% if current_user.can_view('PAG TRAMITES SERVICIOS') %}
            {{ detail.label_value('Trámite y Servicio', pag_pago.pag_tramite_servicio.clave + ' : ' + pag_pago.pag_tramite_servicio.descripcion, url_for('pag_tramites_servicios.detail', pag_tramite_servicio_id=pag_pago.pag_tramite_servicio_id)) }}
        {% else %}
            {{ detail.label_value('Trámite y Servicio', pag_pago.pag_tramite_servicio.clave + ' : ' + pag_pago.pag_tramite_servicio.descripcion) }}
        {% endif %}
        {{ detail.label_value('e-mail', pag_pago.email) }}
        {{ detail.label_value('Folio', pag_pago.folio) }}
        {{ detail.label_value('Total', '$ ' + pag_pago.total | string) }}
        {{ detail.label_value_boolean('Ya se envió comprobante', pag_pago.ya_se_envio_comprobante) }}
        {{ detail.label_value('Creado', moment(pag_pago.creado, local=True).format('DD MMM YYYY')) }}
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('PAG PAGOS') %}
        {% if pag_pago.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar este pago?') }}{% endif %}
        {% if pag_pago.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar este pago?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
