.bashrc
.directory
.env
.gcloudignore
.gitignore
.DS_Store
.~lock.*

*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.sqlite3-journal
*.session.sql

__pycache__/
/.git
/.github
/.vscode
/cli
/instance/settings.py
/seed
/setup.cfg
/sql
/tests
/venv
