{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('OFICINAS') %}
            {{ topbar.button('Oficinas', url_for('oficinas.list_active'), 'mdi:store') }}
        {% endif %}
        {% if current_user.can_view('USUARIOS') %}
            {{ topbar.button('Usuarios', url_for('usuarios.list_active'), 'mdi:account-key') }}
        {% endif %}
        {% if current_user.can_admin('USUARIOS OFICINAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('usuarios_oficinas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('usuarios_oficinas.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- DataTable Usuarios-Oficinas -->
        <table id="usuarios_oficinas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario e-mail</th>
                    <th>Usuario nombre</th>
                    <th>Oficina clave</th>
                    <th>Oficina descripción corta</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Usuarios-Oficinas
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTUsuariosOficinas = constructorDataTable.config();
        configDTUsuariosOficinas['ajax']['url'] = '/usuarios_oficinas/datatable_json';
        configDTUsuariosOficinas['ajax']['data'] = {{ filtros }};
        configDTUsuariosOficinas['columns'] = [
            { data: 'detalle' },
            { data: 'usuario' },
            { data: 'usuario_nombre' },
            { data: 'oficina' },
            { data: 'oficina_descripcion_corta' }
        ];
        configDTUsuariosOficinas['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // usuario
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        return data.email;
                    } else {
                        return '<a href="' + data.url + '">' + data.email + '</a>';
                    }
                }
            },
            {
                targets: 2, // usuario_nombre
                data: null,
                render: function(data, type, row, meta) {
                    return (data.length > 24 ? data.substring(0, 24) + '…' : data);
                }
            },
            {
                targets: 3, // oficina
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        return data.clave;
                    } else {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                }
            }
        ];
        // Filtros Usuarios-Oficinas
        const filtrosObjetos = new FiltrosDataTable('#usuarios_oficinas_datatable', configDTUsuariosOficinas);
        filtrosObjetos.precargar();
    </script>
{% endblock %}
