<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0px;">
<!-- Header -->
<table style="width: 700px; border-collapse:collapse; margin-left:auto; margin-right:auto;">
    <tr>
        <td style="background-color: #004360; height: 10px;"></td>
    </tr>
</table>
<!-- Content -->
{% block content %}{% endblock %}
<!-- Footer -->
<table style="width: 700px; text-align: center; border-collapse:collapse; margin-left:auto; margin-right:auto;">
    <tr style="background-color: #004360; color: #daba93;">
        <td><img src="https://storage.googleapis.com/pjecz-informatica/static/images/logo-pjecz-dorado.png"
                 style="height: 40px; margin-left: 20px;" alt="PJECZ"></td>
        <td><p style="font-size: small;">
            Blvd. Francisco Coss #945. Zona Centro. Saltillo, Coahuila de Zaragoza, México.<br>
            Teléfono 844 777 4498
        </p></td>
    </tr>
    <tr>
        <td colspan="2">
            <small>
                <strong style="color: #657c96;">
                    ESTE MENSAJE ES ELABORADO POR UN PROGRAMA. FAVOR DE NO RESPONDER.
                </strong>
            </small>
        </td>
    </tr>
</table>
</body>
</html>
