{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Cliente Recuperacion{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Recuperacion ' + cit_cliente_recuperacion.id | string) %}
        {{ topbar.button_previous('Clientes Recuperaciones', url_for('cit_clientes_recuperaciones.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_cliente_recuperacion.estatus) %}
        {{ detail.label_value('Cliente', cit_cliente_recuperacion.cit_cliente.email, url_for('cit_clientes.detail', cit_cliente_id=cit_cliente_recuperacion.cit_cliente_id)) }}
        {{ detail.label_value('Expiracion', moment(cit_cliente_recuperacion.expiracion, local=True).format('DD MMM YYYY')) }}
        {{ detail.label_value('Ya recuperado', cit_cliente_recuperacion.ya_recuperado) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
