{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Hora Bloqueada {{ cit_hora_bloqueada.id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Hora Bloqueada ' + cit_hora_bloqueada.id | string) %}
        {{ topbar.button_previous('Horas Bloqueadas', url_for('cit_horas_bloqueadas.list_active')) }}
        {% if current_user.can_edit('CIT HORAS BLOQUEADAS') %}
            {{ topbar.button_edit('Editar', url_for('cit_horas_bloqueadas.edit', cit_hora_bloqueada_id=cit_hora_bloqueada.id)) }}
        {% endif %}
        {% if current_user.can_admin('CIT HORAS BLOQUEADAS') %}
            {% if cit_hora_bloqueada.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_horas_bloqueadas.delete', cit_hora_bloqueada_id=cit_hora_bloqueada.id)) }}{% endif %}
            {% if cit_hora_bloqueada.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_horas_bloqueadas.recover', cit_hora_bloqueada_id=cit_hora_bloqueada.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_hora_bloqueada.estatus) %}
        {% if current_user.can_view('OFICINAS') %}
            {{ detail.label_value('Oficina', cit_hora_bloqueada.oficina.clave + " - " + cit_hora_bloqueada.oficina.descripcion_corta, url_for('oficinas.detail', oficina_id=cit_hora_bloqueada.oficina_id)) }}
        {% else %}
            {{ detail.label_value('Oficina', cit_hora_bloqueada.oficina.clave + " - " + cit_hora_bloqueada.oficina.descripcion_corta) }}
        {% endif %}
        {{ detail.label_value_big('Fecha', cit_hora_bloqueada.fecha) }}
        {{ detail.label_value_big('Hora Inicio', cit_hora_bloqueada.inicio.strftime("%H:%M")) }}
        {{ detail.label_value_big('Hora Termino', cit_hora_bloqueada.termino.strftime("%H:%M")) }}
        {{ detail.label_value('Descripción', cit_hora_bloqueada.descripcion) }}
        {{ detail.label_value('Creado', moment(cit_hora_bloqueada.creado, local=False).format('DD MMM YYYY HH:mm')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('CIT HORAS BLOQUEADAS') %}
        {% if cit_hora_bloqueada.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar esta hora bloqueada?') }}{% endif %}
        {% if cit_hora_bloqueada.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar esta hora bloqueada?') }}{% endif %}
    {% endif %}
{% endblock %}
