{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Horas Bloqueadas{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Hora Bloqueada ID: ' +  hora_bloqueada.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'hora_bloqueada_id': hora_bloqueada.id} %}
        {% call f.form_tag('cit_horas_bloqueadas.edit', fid='hora_bloqueada_id_form', **form_kwargs) %}
            {% call f.form_group(form.oficina_id) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.inicio_tiempo) %}{% endcall %}
            {% call f.form_group(form.termino_tiempo) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- AJAX -->
    <script>
    $(document).ready(function() {
        $('#oficina_id').addClass('js-example-placeholder-single js-states form-control');
        //$('#oficina_id').text('{{hora_bloqueada.clave}}');
        let newOption = new Option('{{hora_bloqueada.oficina.clave}} — {{hora_bloqueada.oficina.descripcion_corta}}', '{{hora_bloqueada.oficina_id}}', false, false);
        $('#oficina_id').append(newOption).trigger('change');
        $(".js-example-placeholder-single").select2({
            ajax: {
                url: '/cit_horas_bloqueadas/oficinas',
                headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                dataType: 'json',
                delay: 250,
                type: "POST",
                data: function (params) {
                    return { 'searchString': params.term };
                }
            },
            placeholder: "Oficina",
            minimumInputLength: 3,
            allowClear: true
        });
    });
    </script>
{% endblock %}
