{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Hora Bloqueada{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Hora Bloqueada') }}
{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cit_horas_bloqueadas.new', fid='cit_hora_bloqueada_form') %}
            {% call f.form_group(form.oficina) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.inicio_tiempo) %}{% endcall %}
            {% call f.form_group(form.termino_tiempo) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 Oficina -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        // Cuando esté listo el DOM
        $(document).ready(function(){
            // Agregar clases al select
            $("#oficina").addClass('js-example-placeholder-single js-states form-control');
            // Definir AJAX para que al escribir desde 4 caracteres se haga la consulta
            $(".js-example-placeholder-single").select2({
                placeholder: "Escriba por lo menos 4 caracteres para buscar",
                allowClear: true,
                minimumInputLength: 4,
                ajax: {
                    url: '/oficinas/select_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term }
                    }
                }
            });
            // Agregar la oficina 'No Definido', que en la vista se consulta
            let data = {
                id: {{ oficina.id }},
                text: "{{ oficina.clave }} - {{ oficina.descripcion_corta }}"
            };
            let newOption = new Option(data.text, data.id, true, true);
            $(".js-example-placeholder-single").append(newOption).trigger('change');
        });
    </script>
{% endblock %}
