{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Encuestas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_previous('Encuestas', url_for('encuestas.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card('Información General') %}
        {{ detail.label_value('Período:', detalle.periodo) }}
        {{ detail.label_value('Encuestas envíadas:', detalle.encuestados) }}
        {{ detail.label_value('Total de Votos:', detalle.total_votos ~ ', participación del: ' ~ detalle.total_votos_porcentaje ~ '%') }}
        <!-- Barra de votaciones -->
        <div class="row align-items-center mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-label="contestados" style="width: {{detalle.contestados_porcentaje}}%;" aria-valuenow="{{detalle.contestados_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.contestados_porcentaje}}%</div>
                <div class="progress-bar bg-danger" role="progressbar" aria-label="cancelados" style="width: {{detalle.cancelados_porcentaje}}%" aria-valuenow="{{detalle.cancelados_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.cancelados_porcentaje}}%</div>
                <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="pendientes" style="width: {{detalle.pendientes_porcentaje}}%" aria-valuenow="{{detalle.pendientes_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.pendientes_porcentaje}}%</div>
            </div>
        </div>
        <div class="col-1"></div>
        </div>
        <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <span class="badge bg-success">Contestados: {{detalle.contestados}}</span>
            <span class="badge bg-danger">Cancelados: {{detalle.cancelados}}</span>
            <span class="badge bg-warning text-dark">Pendentes: {{detalle.pendientes}}</span>
        </div>
        <div class="col"></div>
        </div>
    {% endcall %}

    <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6">
        {% if detalle.resultado == "BIEN" %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <div class="ms-2">
                    <h5>¡Bien!</h5> Se está haciendo un buen trabajo. Sigamos así.
                </div>
            </div>
        {% elif resultado == "NORMAL" %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    <h5>Normal</h5> Se considera neutro el trabajo realizado. Podemos mejorar.
                </div>
            </div>
        {% elif resultado == "MALO" %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                </svg>
                <div class="ms-2">
                    <h5>¡Malo!</h5> Se está haciendo un muy mal trabajo, hay que mejorar.
                </div>
            </div>
        {% endif %}
        </div>
        <div class="col-3"></div>
    </div>

    {% call list.card('Análisis de Respuestas') %}
        <div class="chart-container">
            <canvas id="myChart" style="max-height:200px; text-aling:center;"></canvas>
        </div>
        <!-- Barra de votaciones -->
        <div class="row align-items-center mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-label="contestados" style="width: {{detalle.votos_bien_porcentaje}}%;" aria-valuenow="{{detalle.votos_bien_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.votos_bien_porcentaje}}%</div>
                <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="pendientes" style="width: {{detalle.votos_normal_porcentaje}}%" aria-valuenow="{{detalle.votos_normal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.votos_normal_porcentaje}}%</div>
                <div class="progress-bar bg-danger" role="progressbar" aria-label="cancelados" style="width: {{detalle.votos_mal_porcentaje}}%" aria-valuenow="{{detalle.votos_mal_porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{detalle.votos_mal_porcentaje}}%</div>
            </div>
        </div>
        <div class="col-1"></div>
        </div>
        <div class="row align-items-center mb-3">
        <div class="col"></div>
        <div class="col">
            <span class="badge bg-success">Satisfechos: {{detalle.resp_01_valor_05 + detalle.resp_01_valor_04}}</span>
            <span class="badge bg-warning text-dark">Normal: {{detalle.resp_01_valor_03}}</span>
            <span class="badge bg-danger">Insatisfecho: {{detalle.resp_01_valor_02 + detalle.resp_01_valor_01}}</span>
        </div>
        <div class="col"></div>
        </div>

        {{ detail.label_value('Pregunta 01:', '¿Cómo fue tu interacción con el sistema de citas versión 2?') }}
        {{ detail.label_value('Muy Satisfecho:', detalle.resp_01_valor_05) }}
        {{ detail.label_value('Satisfecho:', detalle.resp_01_valor_04) }}
        {{ detail.label_value('Normal:', detalle.resp_01_valor_03) }}
        {{ detail.label_value('Insatisfecho:', detalle.resp_01_valor_02) }}
        {{ detail.label_value('Muy Insatisfecho:', detalle.resp_01_valor_01) }}
        {{ detail.label_value('Índice de Satisfacción:', detalle.indice_satisfaccion) }}
    {% endcall %}

    {% call list.card('Listado de Respuestas') %}
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <form class="input-group mb-3" id="buscadorForm" onsubmit="buscar(); return false;">
                    <div class="form-floating">
                        <select class="form-select" id="resp01Select" aria-label="Default select example" onchange="buscar(); return false;" style="width: 200px; flex: inherit;">
                            <option selected value="">Todas</option>
                            <option value="5">Muy Satisfecho</option>
                            <option value="4">Satisfecho</option>
                            <option value="3">Normal</option>
                            <option value="2">Insatisfecho</option>
                            <option value="1">Muy Insatisfecho</option>
                        </select>
                        <label for="resp01Select">Respuesta 01</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="estadoSelect" aria-label="Default select example" onchange="buscar(); return false;" style="width: 150px; flex: inherit;">
                            <option selected value="">Todos</option>
                            <option value="PENDIENTE">Pendiente</option>
                            <option value="CANCELADO">Cancelado</option>
                            <option value="CONTESTADO">Contestado</option>
                        </select>
                        <label for="estadoSelect">Estado</label>
                    </div>
                    <button class="btn btn-primary" type="submit" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span> Buscar</button>
                    <button class="btn btn-warning" type="reset" onclick="limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                </form>
            </div>
        </div>
        <table id="respuestas_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>IDs</th>
                    <th>Resp 01</th>
                    <th>Respuesta 02</th>
                    <th>Respuesta 03</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/encuesta/sistema/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "id" },
            { data: "respuesta_01" },
            { data: "respuesta_02" },
            { data: "respuesta_03" },
            { data: "estado" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // ID
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // respuesta_01
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case 5:  return '<span class="badge rounded-pill bg-success px-3 ms-3">Muy Satisfecho</span>';   break;
                        case 4:  return '<span class="badge rounded-pill bg-success px-3 ms-3">Satisfecho</span>';   break;
                        case 3:   return '<span class="badge rounded-pill bg-warning px-3 ms-3 text-dark">Normal</span>';   break;
                        case 2:   return '<span class="badge rounded-pill bg-danger px-3 ms-3">Insatisfecho</span>';   break;
                        case 1:   return '<span class="badge rounded-pill bg-danger px-3 ms-3">Muy Insatisfecho</span>';   break;
                    }
                    return data;
                }
            },
            {
                targets: [2, 3], // Respuesta 02 y 03
                data: null,
                render: function(data, type, row, meta) {
                    if (data == null)
                        return '-';
                    return data.length > 16 ? data.substr(0, 16) + '…' : data;
                }
            },
            {
                targets: 4, // Estado
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case "PENDIENTE":   return '<span class="badge rounded-pill bg-warning px-3 ms-3 text-dark">Pendiente</span>';   break;
                        case "CANCELADO":   return '<span class="badge rounded-pill bg-danger px-3 ms-3">Cancelado</span>';   break;
                        case "CONTESTADO":  return '<span class="badge rounded-pill bg-success px-3 ms-3">Contestado</span>';   break;
                    }
                    return data;
                }
            }
        ];
        $('#respuestas_datatable').DataTable(configDataTable);
    </script>
    <!-- Función de buscador -->
    <script type="text/javascript">
        function buscar() {
            let resp01Select = document.getElementById('resp01Select').value;
            let estadoSelect = document.getElementById('estadoSelect').value;

            if( configDataTable['ajax']['data']['respuesta_01'] === undefined && resp01Select === '' &&
                configDataTable['ajax']['data']['estado'] === undefined && estadoSelect === ''
            )
                return false;

            $('#respuestas_datatable').DataTable().destroy();

            if(resp01Select == '')
                delete configDataTable['ajax']['data']['respuesta_01'];
            else
                configDataTable['ajax']['data']['respuesta_01'] = resp01Select;
            if(estadoSelect == '')
                delete configDataTable['ajax']['data']['estado'];
            else
                configDataTable['ajax']['data']['estado'] = estadoSelect;

            $('#respuestas_datatable').DataTable(configDataTable);
        };

        function limpiar()  {
            if( configDataTable['ajax']['data']['respuesta_01'] === undefined &&
                configDataTable['ajax']['data']['estado'] === undefined
            )
                return false;
            
            delete configDataTable['ajax']['data']['respuesta_01'];
            delete configDataTable['ajax']['data']['estado'];

            $('#respuestas_datatable').DataTable().destroy();
            $('#respuestas_datatable').DataTable(configDataTable);
        };
    </script>
    <!-- Gráfica -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
        let myChart;

        const data_chart = {
            labels: ['Muy Satisfecho', 'Satisfecho', 'Normal', 'Insatisfecho', 'Muy Insatisfecho'],
            datasets: [{
                label: 'Votos',
                backgroundColor: [
                    "#198754",
                    "#198754",
                    "#ffc107",
                    "#dc3545",
                    "#dc3545",
                    ],
                data: [
                    {{detalle.resp_01_valor_05}},
                    {{detalle.resp_01_valor_04}},
                    {{detalle.resp_01_valor_03}},
                    {{detalle.resp_01_valor_02}},
                    {{detalle.resp_01_valor_01}},
                ],
            }]
        };

        const config = {
            type: 'bar',
            data: data_chart,
            options: {
                indexAxis: 'y',
                plugins: {
                    title: {
                        display: true,
                        text: 'Satisfacción con el sistema',
                        font: {
                            size: 18
                        }
                    },
                    legend: {
                        position: 'right',
                    }
                }
            }
        };

        myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
{% endblock %}
