{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Cita Asistencia{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Cita Asistencia') %}
        {{ topbar.button_previous('Regresar', url_for('cit_citas.detail', cit_cita_id=cit_cita_id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'cit_cita_id': cit_cita_id} %}
        {% call f.form_tag('cit_citas.assistance', fid='cit_citas_form', **form_kwargs) %}
            {% call f.form_group(form.cita_id, readonly=true) %}{% endcall %}
            {% call f.form_group(form.cliente, readonly=true) %}{% endcall %}
            {% call f.form_group(form.codigo) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}