{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Cita{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Cita ' + cit_cita.id | string) %}
        {{ topbar.button_previous('Citas', url_for('cit_citas.list_active')) }}
        {% if current_user.can_edit('CIT CITAS') %}
            {% if cit_cita.asistencia %}
                {{ modals.button_delete('Quitar la Asistencia', url_for('cit_citas.pending', cit_cita_id=cit_cita.id), 'Pendiente', 'mdi:close-thick', '¿Desea desmarcar la asistencia de la cita ' + cit_cita.id | string + '?')}}
            {% else %}
                {% if marcar_asistencia %}
                    {{ topbar.button('Marcar Asistencia', url_for('cit_citas.assistance', cit_cita_id=cit_cita.id), 'mdi:check-bold')}}
                {% endif %}
            {% endif %}
            {% if current_user.can_admin('CIT CITAS') %}
                {% if cit_cita.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_citas.delete', cit_cita_id=cit_cita.id)) }}{% endif %}
                {% if cit_cita.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_citas.recover', cit_cita_id=cit_cita.id)) }}{% endif %}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-12">
            {% call detail.card(title='Cliente', estatus=cit_cita.estatus) %}
                {{ detail.label_value('Nombre', cit_cita.cit_cliente.nombre) }}
                {{ detail.label_value('e-mail', cit_cita.cit_cliente.email, url_for('cit_clientes.detail', cit_cliente_id=cit_cita.cit_cliente_id)) }}
            {% endcall %}
        </div>
        <div class="col-lg-4 col-md-12">
            {% call detail.card(title='Oficina', estatus=cit_cita.estatus) %}
                {{ detail.label_value('Distrito', cit_cita.oficina.distrito.nombre) }}
                {{ detail.label_value('Clave', cit_cita.oficina.clave, url_for('oficinas.detail', oficina_id=cit_cita.oficina_id)) }}
                {{ detail.label_value('Descripcion', cit_cita.oficina.descripcion) }}
            {% endcall %}
        </div>
        <div class="col-lg-4 col-md-12">
            {% call detail.card(title='Servicio', estatus=cit_cita.estatus) %}
                {{ detail.label_value('Clave', cit_cita.cit_servicio.clave, url_for('cit_servicios.detail', cit_servicio_id=cit_cita.cit_servicio_id)) }}
                {{ detail.label_value('Descripcion', cit_cita.cit_servicio.descripcion) }}
                {{ detail.label_value('Duracion', cit_cita.cit_servicio.duracion) }}
            {% endcall %}
        </div>
    </div>
    {% call detail.card(title='Detalles de esta cita', estatus=cit_cita.estatus) %}
        {{ detail.label_value_big('Notas', cit_cita.notas) }}
        {{ detail.label_value('Agendada', moment(cit_cita.creado).format('llll')) }}
        {{ detail.label_value('Inicia', moment(cit_cita.inicio).format('llll')) }}
        {{ detail.label_value('Termina', moment(cit_cita.termino).format('llll')) }}
        <div class="row">
            <div class="col-md-3 text-end">Estado</div>
            <div class="col-md-9">
                {% if cit_cita.estado == 'CANCELO' %}
                    {% set color = 'danger' %}
                {% elif cit_cita.estado == 'PENDIENTE' %}
                    {% set color = 'warning text-dark' %}
                {% elif cit_cita.estado == 'ASISTIO' %}
                    {% set color = 'success' %}
                {% else %}
                    {% set color = 'dark' %}
                {% endif %}
                    <span class="badge rounded-pill bg-{{color}}">{{ cit_cita.estado }}</span>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    {% if current_user.can_edit('CIT CITAS') %}
        {% if cit_cita.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar la cita ' + cit_cita.id | string + '?') }}{% endif %}
        {% if cit_cita.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar la cita ' + cit_cita.id | string + '?') }}{% endif %}
    {% endif %}
    {% if cit_cita.asistencia %}
        {{ modals.custom_javascript('Quitar Asistencia', '¿Desea desmarcar la aistencia de la cita ' + cit_cita.id | string + '?', 'Pendiente') }}
    {% endif %}
{% endblock %}
