<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="margin: 0px;">
    <table style="width: 700px; border-collapse:collapse; margin-left:auto; margin-right:auto;">
      <tr>
        <td style="background-color: #004360; height: 10px;"></td>
      </tr>
    </table>
    <table style="color: #004360; font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #efebe8; padding:30px; padding-top:15px; width: 700px; margin-left:auto; margin-right:auto;">
      <tr>
        <td><h1 style='margin: 0px; color: maroon;'>Cita Cancelada ⛔</h1></td>
        <td style="text-align: right;"><img src="https://storage.googleapis.com/pjecz-informatica/static/images/logo-pjecz-horizontal-marino.png" alt="Logo PJECZ" style="height: 50px;"></td>
      </tr>
      <tr>
        <td>
          <h2 style='margin: 0px; margin-top: -20px; font-weight: normal;'>Sistema de Citas</h2>
          <h3>ID: <strong>{{ cit_cita.id }}</strong></h3>
        </td>
        <td colspan="2" style="vertical-align: bottom;"><p style="font-size: small; margin: 0px; color: #657c96; text-align: right;"><i>Fecha de elaboración: {{ fecha_elaboracion }}</i></p></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <hr style="border: 1px solid #004360;">
          <h3 style='margin-bottom: 0px;'>Hola {{ cit_cliente.nombre }}</h3>

          <p>
            Confirmamos que tu cita se<br>
            <strong>canceló</strong> correctamente.
          </p>

          <p style="font-size: small;">Fecha de cancelación: {{ cit_cita.modificado.strftime("%d/%b/%Y %I:%M") }}</p>

          <h3 style="margin-bottom: 0px;">Agradecemos tu buen uso del Sistema de Citas.</h3>
        </td>
      </tr>
    </table>

    <table style="width: 700px; text-align: center; border-collapse:collapse; margin-left:auto; margin-right:auto;">
      <tr style="background-color: #004360; color: #daba93;">
        <td><img src="https://storage.googleapis.com/pjecz-informatica/static/images/logo-pjecz-dorado.png" style="height: 40px; margin-left: 20px;"></td>
        <td><p style="font-size: small;">Blvd. Francisco Coss #945. Zona Centro. Saltillo, Coahuila de Zaragoza, México.<br>
          Teléfono 844 777 4498</p></td>
        </tr>
        <tr>
          <td colspan="2"><small><strong style="color: #657c96;">ESTE MENSAJE ES ELABORADO POR UN PROGRAMA. FAVOR DE NO RESPONDER.</strong></small></td>
        </tr>
    </table>
    
  </body>
</html>
