{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Citas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('CIT CITAS') %}
            {{ topbar.button_previous('Citas HOY', url_for('cit_citas.list_active')) }}
            {{ topbar.button_search('Buscar', url_for('cit_citas.search')) }}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_citas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_citas.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="cit_citas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Agendada desde</th>
                    <th>Fecha de cita</th>
                    <th>Cliente</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/cit_citas/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "creado" },
            { data: "fecha" },
            { data: "cit_cliente" },
            { data: "cit_servicio" },
            { data: "estado" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 3, // cit_cliente
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                    return data.nombre
                }
            },
            {
                targets: 4, // cit_servicio
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<span title="' + data.descripcion + '">' + '<a href="' + data.url + '">' + data.clave + '</a></span>';
                    }
                    return '<span title="' + data.descripcion + '">' + data.clave + '</span>'
                }
            },
            {
                targets: 5, // Estado
                data: null,
                render: function(data, type, row, meta) {
                    let color = "black";
                    switch (data)    {
                        case "ASISTIO":     color = "#0b5345"; break;
                        case "PENDIENTE":   color = "#7d6608"; break;
                        case "CANCELO":     color = "#e53935"; break;
                    }
                    return '<strong style="color:' + color + '; display:block; text-align:center;">' + data + '</strong>';
                }
            }
        ];
        configDataTable['createdRow'] = function( row, data, dataIndex ){
            switch (data.estado)    {
                case "PENDIENTE": $(row).css("background-color", "#fef9e7");  break;
                case "CANCELO":   $(row).css("background-color", "#fdedec");  break;
                case "ASISTIO":   $(row).css("background-color", "#eafaf1");  break;
            }
        };
        $('#cit_citas_datatable').DataTable(configDataTable);
    </script>
    <script>
        $('#fecha_actual').change(function() {
            $('#cit_citas_datatable').DataTable().destroy();
            configDataTable['ajax']['data']['fecha'] = $('#fecha_actual').val();
            $('#cit_citas_datatable').DataTable(configDataTable);
        });
        function cambiar_fecha(fecha) {
            $('#fecha_actual').val(fecha);
            $('#fecha_actual').text(fecha);
            $('#fecha_actual').change();
        };
        function recorrer_fecha(dias) {
            var date = new Date($("#fecha_actual").val());
            date.setDate(date.getDate() + dias);
            salida_f = date.toISOString().split('.');
            output_s = salida_f[0].split('T');
            cambiar_fecha(output_s[0]);
        };
    </script>
{% endblock %}
