{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Todas las Citas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('CIT CITAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_citas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_citas.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_view('CIT CITAS STATS') %}
            {{ topbar.button_primary('Estadisticas', url_for('cit_citas_stats.detail'), 'mdi:chart-bar') }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="cit_citas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Inicio</th>
                    <th>Termino</th>
                    <th>Cliente</th>
                    <th>Oficina</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/cit_citas/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "fecha" },
            { data: "inicio" },
            { data: "termino" },
            { data: "cit_cliente" },
            { data: "oficina" },
            { data: "cit_servicio" },
            { data: "estado" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // fecha
                type: 'date',
                render: function (data, type, row) {
                    return moment.utc(data).local().format("DD MMM YYYY");
                }
            },
            {
                targets: 4, // cit_cliente
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                    return data.nombre
                }
            },
            {
                targets: [5, 6], // oficina, cit_servicio
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                    return data.clave
                }
            }
        ];
        $('#cit_citas_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
