{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block custom_head %}
    <!-- Librería para utilizar el botón de impresion de datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"/>
{% endblock %}

{% block title %}Citas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('CIT CITAS') %}
            {{ topbar.button_search('Buscar', url_for('cit_citas.search')) }}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_citas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_citas.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('CIT CITAS') %}
            {{ topbar.button_new('Nueva Cita Inmediata', url_for('cit_clientes.list_active')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-2">
                {% if fecha_anterior %}
                    <a onclick="recorrer_fecha(-1)" class="btn btn-primary btn-sm">« Día Anterior</a>
                {% endif %}
                </div>
                <div class="col-4">
                    {% if oficinas %}
                    <div>
                        <select class="form-select mb-2" id="oficinas" aria-label="Oficinas" onchange="actualizar_listado();">
                        {% for oficina in oficinas %}
                            <option value="{{ oficina.oficina.id }}">{{ oficina.oficina.descripcion_corta }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div>
                    {% if fecha_actual %}
                        <input id="fecha_actual" class="form-control" type="date" value="{{fecha_actual}}" onchange="actualizar_listado();">
                    {% endif %}
                    </div>
                </div>
                <div class="col-2">
                {% if fecha_siguiente %}
                    <a onclick="recorrer_fecha(1)" class="btn btn-primary btn-sm">Día Siguiente »</a>
                {% endif %}
                </div>
            </div>
        </div>
        <table id="cit_citas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Inicio</th>
                    <th>Termino</th>
                    <th>Cliente</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                    <th>Notas</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>

    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/cit_citas/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "inicio" },
            { data: "termino" },
            { data: "cit_cliente" },
            { data: "cit_servicio" },
            { data: "estado" },
            { data: "notas" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 3, // cit_cliente
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                    return data.nombre
                }
            },
            {
                targets: 4, // cit_servicio
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<span title="' + data.descripcion + '">' + '<a href="' + data.url + '">' + data.clave + '</a></span>';
                    }
                    return '<span title="' + data.descripcion + '">' + data.clave + '</span>'
                }
            },
            {
                targets: 5, // Estado
                data: null,
                render: function(data, type, row, meta) {
                    let color = "black";
                    switch (data)    {
                        case "ASISTIO":     color = "#0b5345"; break;
                        case "PENDIENTE":   color = "#7d6608"; break;
                        case "CANCELO":     color = "#e53935"; break;
                    }
                    return '<strong style="color:' + color + '; display:block; text-align:center;">' + data + '</strong>';
                }
            }
        ];
        configDataTable['createdRow'] = function( row, data, dataIndex ){
            switch (data.estado)    {
                case "PENDIENTE": $(row).css("background-color", "#fef9e7");  break;
                case "CANCELO":   $(row).css("background-color", "#fdedec");  break;
                case "ASISTIO":   $(row).css("background-color", "#eafaf1");  break;
            }
        };
    
        // --- Btn para imprimir pdf del listado datatable
        configDataTable['ajax']['data']['fecha'] =  document.getElementById('fecha_actual').value;
        {% if oficinas %}
            configDataTable['ajax']['data']['oficina_id'] = document.getElementById('oficinas').value;
        {% endif %}
        configDataTable['responsive'] = false;
        configDataTable['paging'] = false;
        configDataTable['dom'] = 'B<clear>frtip';
        configDataTable['buttons'] = [
            {
                extend: 'pdf',
                title: 'Listado de {{ titulo }} : {{ fecha_actual }}',
            }
        ];

        $('#cit_citas_datatable').DataTable(configDataTable);
        $('#cit_citas_datatable').DataTable().button(0).text('Convertir a PDF');
        $('#cit_citas_datatable').DataTable().buttons().container().appendTo( '#example_wrapper .col-md-6:eq(0)' );
    </script>
    <script>
        function actualizar_listado() {
            let fecha_actual = $('#fecha_actual').val();
            if(fecha_actual == '') {
                const date = new Date();
                salida_f = date.toISOString().split('.');
                output_s = salida_f[0].split('T');
                fecha_actual =output_s[0];
                $('#fecha_actual').val(fecha_actual);
                $('#fecha_actual').text(fecha_actual);
            };
            $('#cit_citas_datatable').DataTable().destroy();
            configDataTable['ajax']['data']['fecha'] = fecha_actual;
            {% if oficinas %}
                configDataTable['ajax']['data']['oficina_id'] = document.getElementById('oficinas').value;
                let oficina_clave = document.getElementById('oficinas').options[document.getElementById('oficinas').selectedIndex].text;
            {% else %}
                let oficina_clave = "{{ current_user.oficina.descripcion_corta }}";
            {% endif %}
            // --- Imprimir tiutlo del pdf --- //
            configDataTable['responsive'] = false;
            configDataTable['paging'] = false;
            configDataTable['dom'] = 'B<clear>frtip';
            configDataTable['buttons'] = [
                {
                    extend: 'pdf',
                    title: 'Listado de ' + oficina_clave + ' : ' + fecha_actual,
                    buttonText: 'jajajaj',
                }
            ];
            $('#cit_citas_datatable').DataTable(configDataTable);
            $('#cit_citas_datatable').DataTable().button(0).text('Convertir a PDF');
        };
        function cambiar_fecha(fecha) {
            $('#fecha_actual').val(fecha);
            $('#fecha_actual').text(fecha);
            $('#fecha_actual').change();
        };
        function recorrer_fecha(dias) {
            var date = new Date($("#fecha_actual").val());
            date.setDate(date.getDate() + dias);
            salida_f = date.toISOString().split('.');
            output_s = salida_f[0].split('T');
            cambiar_fecha(output_s[0]);
        };
    </script>
{% endblock %}
