{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar Citas{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar Citas') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cit_citas.search', fid='cit_citas_search_form') %}
            {% call f.form_group(form.cliente) %}{% endcall %}
            {% call f.form_group(form.email) %}{% endcall %}
            {% if current_user.can_admin('CIT CITAS') %}
                {% call f.form_group(form.fecha) %}{% endcall %}
            {% endif %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}
