{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Buscar Citas{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Buscar Citas') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('cit_citas.search', fid='cit_citas_search_form') %}
            {% call f.form_group(form.cliente) %}{% endcall %}
            {% call f.form_group(form.email) %}{% endcall %}
            {% if current_user.can_admin('CIT CITAS') %}
                {% call f.form_group(form.fecha) %}{% endcall %}
                {% call f.form_group(form.distrito) %}{% endcall %}
                {% call f.form_group(form.oficina) %}{% endcall %}
            {% endif %}
            {{ form.buscar() }}
        {% endcall %}
    {% endcall %}
{% endblock %}


{% block custom_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('#oficina').addClass('js-example-placeholder-single js-states form-control');
            $('#oficina').prop("disabled", true);

            $('#distrito').on("change", function()    {
                if( $('#distrito').val() > 0) {
                    $('#oficina').prop("disabled", false);
                    $("#oficina").select2({
                        ajax: {
                        url: '/oficinas/select_list_all_PAC/' + $('#distrito').val(),
                        headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
                        type: "GET",
                    },
                    placeholder: "Oficina",
                    allowClear: false,
                    });
                } else {
                    $('#oficina').val(null).trigger('change');
                    $('#oficina').prop("disabled", true);
                }
            });
        });
    </script>
{% endblock %}