{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Cita{% endblock %}

{% block custom_head %}

{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_previous('Citas', url_for('cit_citas.list_active')) }}
    {% endcall %}
    {% call topbar.page_buttons() %}
        <span id="btn_1">{{ topbar.button_modal('Hoy', "javascript:cargar_datos_ajax('HOY');", 'mdi:calendar-today') }}</span>
        <span id="btn_2">{{ topbar.button_modal('Semana', "javascript:cargar_datos_ajax('SEMANA');", 'mdi:calendar-range') }}</span>
        <span id="btn_3">{{ topbar.button_modal('Mes', "javascript:cargar_datos_ajax('MES');", 'mdi:calendar-month') }}</span>
        <span id="btn_4">{{ topbar.button_modal('5 Meses', "javascript:cargar_datos_ajax('CINCO_MESES');", 'mdi:calendar-text') }}</span>
        <span id="btn_5">{{ topbar.button_modal('Año', "javascript:cargar_datos_ajax('ANO');", 'mdi:calendar-check') }}</span>
    {% endcall %}

{% endblock %}

{% block content %}
    <div class="row">
        <canvas id="myChart"></canvas>
    </div>
    <div>
        {{ topbar.button_primary('Actualizar Estadísticas', url_for('cit_citas.actualizar_estadisticas'), 'mdi:refresh') }}
    </div>
{% endblock %}

{% block custom_javascript %}
    <!-- Chart.js 3.8.0 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
        let myChart;

        $( document ).ready(function() {
            crear_chart();
            cargar_datos_ajax();
        });

        function _seleccionar_btn(btn_id) {
            $(btn_id).children(".btn").addClass('disabled');
            $(btn_id).children(".btn").removeClass('btn-outline-secondary');
            $(btn_id).children(".btn").addClass('btn-secondary');
        };

        function _desseleccionar_btn(btn_id) {
            $(btn_id).children(".btn").removeClass('disabled');
            $(btn_id).children(".btn").removeClass('btn-secondary');
            $(btn_id).children(".btn").addClass('btn-outline-secondary');
        };

        function cargar_datos_ajax(param="HOY") {
            _desseleccionar_btn("#btn_1");
            _desseleccionar_btn("#btn_2");
            _desseleccionar_btn("#btn_3");
            _desseleccionar_btn("#btn_4");
            _desseleccionar_btn("#btn_5");
            switch(param) {
                case "HOY":         _seleccionar_btn("#btn_1"); break;
                case "SEMANA":      _seleccionar_btn("#btn_2"); break;
                case "MES":         _seleccionar_btn("#btn_3"); break;
                case "CINCO_MESES": _seleccionar_btn("#btn_4"); break;
                case "ANO":         _seleccionar_btn("#btn_5"); break;
            };
            $.ajax({
                type: "GET",
                url: './estadisticas/data/' + param,
                success: function (dataCheck) {
                    myChart.destroy();
                    delete myChart;
                    crear_chart(
                        dataCheck.titulo,
                        dataCheck.subtitulo,
                        dataCheck.label,
                        dataCheck.etiquetas,
                        dataCheck.datos,
                        );
                }
            });
            return false;
        };

        function crear_chart(titulo, subtitulo, label, etiquetas, datos) {
            const data_chart = {
                labels: etiquetas,
                datasets: [{
                    label: label,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderRadius: 10,
                    data: datos,
                }]
            };

            const config = {
                type: 'bar',
                data: data_chart,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: titulo,
                            font: {
                                size: 18
                            }
                        },
                        subtitle: {
                            display: true,
                            text: subtitulo
                        }
                    }
                }
            };

            myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        };
    </script>
    {{ detail.moment_js(moment) }}
{% endblock %}
