{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Oficina{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Oficina ' + oficina.clave) %}
        {{ topbar.button_previous('Oficinas', url_for('oficinas.list_active')) }}
        {% if current_user.can_edit('OFICINAS') %}
            {{ topbar.button_edit('Editar', url_for('oficinas.edit', oficina_id=oficina.id)) }}
            {% if oficina.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('oficinas.delete', oficina_id=oficina.id)) }}{% endif %}
            {% if oficina.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('oficinas.recover', oficina_id=oficina.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=oficina.estatus) %}
        {{ detail.label_value_big('Clave', oficina.clave) }}
        {{ detail.label_value('Descripción', oficina.descripcion) }}
        {{ detail.label_value('Descripción Corta', oficina.descripcion_corta) }}
        {% if current_user.can_view('DISTRITOS') %}
            {{ detail.label_value('Distrito', oficina.distrito.nombre, url_for('distritos.detail', distrito_id=oficina.distrito_id)) }}
        {% else %}
            {{ detail.label_value('Distrito', oficina.distrito.nombre) }}
        {% endif %}
        {% if current_user.can_view('DOMICILIOS') %}
            {{ detail.label_value('Domicilio', oficina.domicilio.completo, url_for('domicilios.detail', domicilio_id=oficina.domicilio_id)) }}
        {% else %}
            {{ detail.label_value('Domicilio', oficina.domicilio.completo) }}
        {% endif %}
        {{ detail.label_value('Horario', oficina.apertura.strftime("%H:%M") + ' — ' + oficina.cierre.strftime("%H:%M")) }}
        {{ detail.label_value('Límite de Personas', oficina.limite_personas) }}
        {{ detail.label_value_boolean('Es Juridiccional', oficina.es_jurisdiccional) }}
        {{ detail.label_value_boolean('Puede agendar citas', oficina.puede_agendar_citas) }}
        {{ detail.label_value_boolean('Envía Código QR', oficina.enviar_qr) }}
    {% endcall %}
    {# Citas en esta oficina #}
    {% if current_user.can_view('CIT CITAS') %}
        {% call detail.card('Citas') %}
            <table id="cit_citas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Inicio</th>
                        <th>Termino</th>
                        <th>Cliente</th>
                        <th>Servicio</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {# Servicios que ofrece esta oficina #}
    {% if current_user.can_view('CIT OFICINAS SERVICIOS') %}
        {% call detail.card('Servicios que ofrece esta oficina') %}
            <table id="cit_oficinas_servicios_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Clave</th>
                        <th>Descripción</th>
                        <th>Duración</th>
                        <th>L. de D.</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('CIT OFICINAS SERVICIOS') %}
            <a href="{{ url_for('cit_oficinas_servicios.new_with_oficina', oficina_id=oficina.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    {# Usuarios en esta oficina #}
    {% if current_user.can_view('USUARIOS') %}
        {% call detail.card('Usuarios en esta oficina') %}
            <table id="usuarios_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>e-mail</th>
                        <th>Nombres Completos</th>
                        <th>Puesto</th>
                        <th>Autoridad</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('OFICINAS') %}
        {% if oficina.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar ' + oficina.clave + '?') }}{% endif %}
        {% if oficina.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar ' + oficina.clave + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('CIT CITAS') %}
        <script>
            configDataTable['ajax']['url'] = '/cit_citas/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'oficina_id': {{ oficina.id }} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "fecha" },
                { data: "inicio" },
                { data: "termino" },
                { data: "cit_cliente" },
                { data: "cit_servicio" },
                { data: "estado" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 1, // fecha
                    type: 'date',
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("DD MMM YYYY");
                    }
                },
                {
                    targets: 4, // cit_cliente
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url != '') {
                            return '<a href="' + data.url + '">' + data.nombre + '</a>';
                        }
                        return data.nombre
                    }
                },
                {
                    targets: 5, // cit_servicio
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url != '') {
                            return '<span title="' + data.descripcion + '">' + '<a href="' + data.url + '">' + data.clave + '</a></span>';
                        }
                        return '<span title="' + data.descripcion + '">' + data.clave+ '</span>';
                    }
                },
            {
                targets: 6, // Estado
                data: null,
                render: function(data, type, row, meta) {
                    let color = "black";
                    switch (data)    {
                        case "ASISTIO":     color = "#0b5345"; break;
                        case "PENDIENTE":   color = "#7d6608"; break;
                        case "CANCELO":     color = "#e53935"; break;
                    }
                    return '<strong style="color:' + color + '; display:block; text-align:center;">' + data + '</strong>';
                }
            }
            ];
            configDataTable['createdRow'] = function( row, data, dataIndex ){
                switch (data.estado)    {
                    case "PENDIENTE": $(row).css("background-color", "#fef9e7");  break;
                    case "CANCELO":   $(row).css("background-color", "#fdedec");  break;
                    case "ASISTIO":   $(row).css("background-color", "#eafaf1");  break;
                }
            };
            $('#cit_citas_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {% if current_user.can_view('CIT OFICINAS SERVICIOS') %}
        <script>
            configDataTable['ajax']['url'] = '/cit_oficinas_servicios/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'oficina_id': {{ oficina.id }} };
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'cit_servicio' },
                { data: 'cit_servicio_descripcion' },
                { data: 'cit_servicio_duracion' },
                { data: 'cit_servicio_documentos_limite' },
                { data: 'cit_servicio_categoria_nombre' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 1, // cit_servicio
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                },
                {
                    targets: 2, // cit_servicio_descripcion
                    data: null,
                    render: function(data, type, row, meta) {
                        return (data.length > 32 ? data.substr(0, 32) + '…' : data);
                    }
                }
            ];
            $('#cit_oficinas_servicios_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {% if current_user.can_view('USUARIOS') %}
        <script>
            configDataTable['ajax']['url'] = '/usuarios/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'oficina_id': {{ oficina.id }} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "nombre" },
                { data: "puesto" },
                { data: "autoridad" }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.email + '</a>';
                    }
                },
                {
                    targets: [1, 2], // nombre, puesto
                    data: null,
                    render: function(data, type, row, meta) {
                        return (data.length > 48 ? data.substr(0, 48) + '…' : data);
                    }
                },
                {
                    targets: 3, // autoridad
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url == '') {
                            return data.clave;
                        } else {
                            return '<a href="' + data.url + '">' + data.clave + '</a>';
                        }
                    }
                }
            ];
            $('#usuarios_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
