{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Solicitud para Pago de Pensión Alimenticia{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Solicitud ' + ppa_solicitud.id | string) %}
        {{ topbar.button_previous('Solicitudes', url_for('ppa_solicitudes.list_active')) }}
        {% if current_user.can_edit('PPA SOLICITUDES') %}
            {% if ppa_solicitud.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ppa_solicitudes.delete', ppa_solicitud_id=ppa_solicitud.id)) }}{% endif %}
            {% if ppa_solicitud.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ppa_solicitudes.recover', ppa_solicitud_id=ppa_solicitud.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=ppa_solicitud.estatus) %}
        {% if current_user.can_view('CIT CLIENTES') %}
            {{ detail.label_value_big('Cliente', ppa_solicitud.cit_cliente.nombre, url_for('cit_clientes.detail', cit_cliente_id=ppa_solicitud.cit_cliente_id)) }}
        {% else %}
            {{ detail.label_value_big('Cliente', ppa_solicitud.cit_cliente.nombre) }}
        {% endif %}
        {% if current_user.can_view('DISTRITOS') %}
            {{ detail.label_value('Distrito', ppa_solicitud.autoridad.distrito.nombre, url_for('distritos.detail', distrito_id=ppa_solicitud.autoridad.distrito_id)) }}
        {% else %}
            {{ detail.label_value('Distrito', ppa_solicitud.autoridad.distrito.nombre) }}
        {% endif %}
        {% if current_user.can_view('AUTORIDADES') %}
            {{ detail.label_value('Autoridad', ppa_solicitud.autoridad.descripcion, url_for('autoridades.detail', autoridad_id=ppa_solicitud.autoridad_id)) }}
        {% else %}
            {{ detail.label_value('Autoridad', ppa_solicitud.autoridad.descripcion) }}
        {% endif %}
        {{ detail.label_value('Domicilio calle', ppa_solicitud.domicilio_calle) }}
        {{ detail.label_value('Domicilio número', ppa_solicitud.domicilio_numero) }}
        {{ detail.label_value('Domicilio colonia', ppa_solicitud.domicilio_colonia) }}
        {{ detail.label_value('Domicilio C.P.', ppa_solicitud.domicilio_cp) }}
        {{ detail.label_value('Compañía telefónica', ppa_solicitud.compania_telefonica) }}
        {{ detail.label_value('Número de expediente', ppa_solicitud.numero_expediente) }}
        {{ detail.label_value('Identificación oficial', ppa_solicitud.identificacion_oficial_archivo, ppa_solicitud.identificacion_oficial_url) }}
        {{ detail.label_value('Comprobante de domicilio', ppa_solicitud.comprobante_domicilio_archivo, ppa_solicitud.comprobante_domicilio_url) }}
        {{ detail.label_value('Autorización', ppa_solicitud.comprobante_domicilio_archivo, ppa_solicitud.autorizacion_url) }}
        <div class="row">
            <div class="col-md-3 text-end">
                <span>Comprobante</span>
            </div>
            <div class="col-md-9">
                {% if ppa_solicitud_verify_url %}
                    <a href="{{ ppa_solicitud_verify_url }}" target="_blank">{{ ppa_solicitud_verify_url }}</a>
                {% endif %}
                {% if ppa_solicitud.ya_se_envio_acuse %}
                    <span class="badge rounded-pill bg-primary ps-3">ENVIADO <span class="iconify" data-icon="mdi:check-circle" style="font-size: 1.4em; margin-right: 4px;"></span></span>
                {% else %}
                    <span class="badge rounded-pill bg-secondary ps-3"><strong>por enviar</strong> <span class="iconify" data-icon="mdi:cancel" style="font-size: 1.4em; margin-right: 4px;"></span></span>
                {% endif %}
            </div>
        </div>
        {{ detail.label_value('Creado', moment(ppa_solicitud.creado, local=True).format('llll')) }}
        {{ detail.label_value('Caducidad', moment(ppa_solicitud.caducidad).format('DD MMM YYYY')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('PPA SOLICITUDES') %}
        {% if ppa_solicitud.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + ppa_solicitud.id + '?') }}{% endif %}
        {% if ppa_solicitud.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + ppa_solicitud.id + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
