{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Link de Pago{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Pago ID: ' + cit_pago.id | string) %}
        {{ topbar.button_previous('Regresar', url_for('cit_pagos.detail', cit_pago_id=cit_pago.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_pago.estatus) %}
        {{ detail.label_value('Cliente', cit_pago.cit_cliente.nombre) }}
        {{ detail.label_value('Descripción', cit_pago.descripcion) }}
        {{ detail.label_value('Total', cit_pago.total) }}
    {% endcall %}
    {% call detail.card('Link de Pago') %}
        {{ detail.label_value('Link', url_pay) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CIT PAGOS') %}
        {% if cit_pago.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cit_pago.descripcion + '?') }}{% endif %}
        {% if cit_pago.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cit_pago.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
