{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Expedientes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Expediente ' + cit_cita_expediente.expediente) %}
        {{ topbar.button_previous('Expedientes', url_for('cit_citas_expedientes.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_cita_expediente.estatus) %}
        {{ detail.label_value_big('Expediente', cit_cita_expediente.expediente) }}
        {{ detail.label_value('Cita', cit_cita_expediente.cita_id, url_for('cit_citas.detail', cita_id=cit_cita_expediente.cita_id)) }}
    {% endcall %}
{% endblock %}
