{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Encuestas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_previous('Encuestas', url_for('enc_encuestas.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card('Preguntas de la Encuesta') %}
        {{ detail.label_value('Pregunta 01:', '¿Cómo fue tu interacción con el sistema de citas versión 2?') }}
        {{ detail.label_value('Pregunta 02:', '¿Por qué?') }}
        {{ detail.label_value('Pregunta 03:', '¿Tienes algún comentario para nosotros?') }}
    {% endcall %}
    {% call list.card() %}
        <div class="row align-items-end">
            <div class="col">
            </div>
            <div class="col-auto text-end">
                <form class="input-group mb-3" id="buscadorForm" method="POST" action="{{url_for('enc_sistemas.report')}}">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <div class="form-floating">
                        <input id="desdeInput" name="desde" type="date" class="form-control" placeholder="desde" aria-label="desde" aria-describedby="button-buscar" onchange="buscar(); return false;">
                        <label for="desdeInput">Desde</label>
                    </div>
                    <div class="form-floating">
                        <input id="hastaInput" name="hasta" type="date" class="form-control" placeholder="hasta" aria-label="hasta" aria-describedby="button-buscar" onchange="buscar(); return false;">
                        <label for="hastaInput">Hasta</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="resp01Select" aria-label="Default select example" onchange="buscar(); return false;" style="width: 200px; flex: inherit;">
                            <option selected value="">Todas</option>
                            <option value="1">😩 - Muy Difícil</option>
                            <option value="2">🙁 - Difícil</option>
                            <option value="3">😐 - Normal</option>
                            <option value="4">🙂 - Fácil</option>
                            <option value="5">😎 - Muy Fácil</option>
                        </select>
                        <label for="resp01Select">Respuesta 01</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="estadoSelect" aria-label="Default select example" onchange="buscar(); return false;" style="width: 150px; flex: inherit;">
                            <option selected value="">Todos</option>
                            <option value="PENDIENTE">Pendiente</option>
                            <option value="CANCELADO">Cancelado</option>
                            <option value="CONTESTADO">Contestado</option>
                        </select>
                        <label for="estadoSelect">Estado</label>
                    </div>
                    <button class="btn btn-primary" type="submit" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                    <button title="Reporte" class="btn btn-info btn-lg" type="submit" id="button-reporte"><span class="iconify" data-icon="mdi:chart-box"></span> Reporte</button>
                    <button class="btn btn-warning" type="reset" onclick="limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                </form>
            </div>
        </div>
        <table id="respuestas_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>IDs</th>
                    <th>Res 01</th>
                    <th>Respuesta 02</th>
                    <th>Respuesta 03</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/encuestas/sistemas/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "id" },
            { data: "respuesta_01" },
            { data: "respuesta_02" },
            { data: "respuesta_03" },
            { data: "estado" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // ID
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // respuesta_01
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case 1:  return '<h5 title="Muy Difícil" style="cursor:default"><span class="badge rounded-pill bg-danger">😩</span></h5>';
                        case 2:  return '<h5 title="Difícil" style="cursor:default"><span class="badge rounded-pill bg-danger">🙁</span></h5>';
                        case 3:   return '<h5 title="Neutral" style="cursor:default"><span class="badge rounded-pill bg-warning">😐</span></h5>';
                        case 4:   return '<h5 title="Fácil" style="cursor:default"><span class="badge rounded-pill bg-success">🙂</span></h5>';
                        case 5:   return '<h5 title="Muy Fácil" style="cursor:default"><span class="badge rounded-pill bg-success">😎</span></h5>';
                    }
                    return data;
                }
            },
            {
                targets: [2, 3], // Respuesta 02 y 03
                data: null,
                render: function(data, type, row, meta) {
                    if (data == null)
                        return '-';
                    if (data.length > 32)
                        return '<span title="' + data + '">' + data.substr(0, 32) + '…</span>';
                    return data;
                }
            },
            {
                targets: 4, // Estado
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case "PENDIENTE":   return '<span class="badge rounded-pill bg-warning px-3 ms-3 text-dark">Pendiente</span>';   break;
                        case "CANCELADO":   return '<span class="badge rounded-pill bg-danger px-3 ms-3">Cancelado</span>';   break;
                        case "CONTESTADO":  return '<span class="badge rounded-pill bg-success px-3 ms-3">Contestado</span>';   break;
                    }
                    return data;
                }
            }
        ];
        let desde = document.getElementById('desde')?.value;
        let hasta = document.getElementById('hasta')?.value;
        let resp01Select = document.getElementById('resp01Select').value;
        let estadoSelect = document.getElementById('estadoSelect').value;
        if(desde != '')
            configDataTable['ajax']['data']['desde'] = desde;
        if(hasta != '')
            configDataTable['ajax']['data']['hasta'] = hasta;
        if(resp01Select != '')
            configDataTable['ajax']['data']['respuesta_01'] = resp01Select;
        if(estadoSelect != '')
            configDataTable['ajax']['data']['estado'] = estadoSelect;
        $('#respuestas_datatable').DataTable(configDataTable);
    </script>
    <!-- Función de buscador -->
    <script type="text/javascript">
        function buscar() {
            let desde = document.getElementById('desdeInput').value;
            let hasta = document.getElementById('hastaInput').value;
            let resp01Select = document.getElementById('resp01Select').value;
            let estadoSelect = document.getElementById('estadoSelect').value;
            if( configDataTable['ajax']['data']['desde'] === undefined && desde === '' &&
                configDataTable['ajax']['data']['hasta'] === undefined && hasta === '' &&
                configDataTable['ajax']['data']['respuesta_01'] === undefined && resp01Select === '' &&
                configDataTable['ajax']['data']['estado'] === undefined && estadoSelect === ''
            ) return false;
            $('#respuestas_datatable').DataTable().destroy();
            if(desde == '')
                delete configDataTable['ajax']['data']['desde'];
            else
                configDataTable['ajax']['data']['desde'] = desde;
            if(hasta == '')
                delete configDataTable['ajax']['data']['hasta'];
            else
                configDataTable['ajax']['data']['hasta'] = hasta;
            if(resp01Select == '')
                delete configDataTable['ajax']['data']['respuesta_01'];
            else
                configDataTable['ajax']['data']['respuesta_01'] = resp01Select;
            if(estadoSelect == '')
                delete configDataTable['ajax']['data']['estado'];
            else
                configDataTable['ajax']['data']['estado'] = estadoSelect;
            $('#respuestas_datatable').DataTable(configDataTable);
        };
        function limpiar()  {
            if( configDataTable['ajax']['data']['desde'] === undefined &&
                configDataTable['ajax']['data']['hasta'] === undefined &&
                configDataTable['ajax']['data']['respuesta_01'] === undefined &&
                configDataTable['ajax']['data']['estado'] === undefined
            ) return false;
            delete configDataTable['ajax']['data']['desde'];
            delete configDataTable['ajax']['data']['hasta'];
            delete configDataTable['ajax']['data']['respuesta_01'];
            delete configDataTable['ajax']['data']['estado'];
            $('#respuestas_datatable').DataTable().destroy();
            $('#respuestas_datatable').DataTable(configDataTable);
        };
    </script>
{% endblock %}
