{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Encuestas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_previous('Encuestas', url_for('enc_encuestas.list_active')) }}
        {{ topbar.button('Reporte', url_for('enc_sistemas.report'), 'mdi:chart-box-outline') }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <div class="row align-items-end">
            <div class="col">
            </div>
            <div class="col-auto text-end">
                <form class="input-group mb-3" id="buscadorForm" onsubmit="buscar(); return false;">
                    <div class="form-floating">
                        <select class="form-select" id="resp01Select" aria-label="Default select example" onchange="buscar(); return false;" style="width: 200px; flex: inherit;">
                            <option selected value="">Todas</option>
                            <option value="1">Muy Difícil</option>
                            <option value="2">Difícil</option>
                            <option value="3">Normal</option>
                            <option value="4">Fácil</option>
                            <option value="5">Muy Fácil</option>
                        </select>
                        <label for="resp01Select">Respuesta 01</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="estadoSelect" aria-label="Default select example" onchange="buscar(); return false;" style="width: 150px; flex: inherit;">
                            <option selected value="">Todos</option>
                            <option value="PENDIENTE">Pendiente</option>
                            <option value="CANCELADO">Cancelado</option>
                            <option value="CONTESTADO">Contestado</option>
                        </select>
                        <label for="estadoSelect">Estado</label>
                    </div>
                    <button class="btn btn-primary" type="submit" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span> Buscar</button>
                    <button class="btn btn-warning" type="reset" onclick="limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                </form>
            </div>
        </div>
        <table id="respuestas_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>IDs</th>
                    <th>Respuesta 01</th>
                    <th>Respuesta 02</th>
                    <th>Respuesta 03</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/encuestas/sistemas/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "id" },
            { data: "respuesta_01" },
            { data: "respuesta_02" },
            { data: "respuesta_03" },
            { data: "estado" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // ID
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // respuesta_01
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case 1:  return '<span class="badge rounded-pill bg-danger px-3 ms-3">Muy Difícil</span>';   break;
                        case 2:  return '<span class="badge rounded-pill bg-danger px-3 ms-3">Difícil</span>';   break;
                        case 3:   return '<span class="badge rounded-pill bg-warning px-3 ms-3 text-dark">Neutro</span>';   break;
                        case 4:   return '<span class="badge rounded-pill bg-success px-3 ms-3">Fácil</span>';   break;
                        case 5:   return '<span class="badge rounded-pill bg-success px-3 ms-3">Muy Fácil</span>';   break;
                    }
                    return data;
                }
            },
            {
                targets: [2, 3], // Respuesta 02 y 03
                data: null,
                render: function(data, type, row, meta) {
                    if (data == null)
                        return '-';
                    if (data.length > 16)
                        return '<span title="' + data + '">' + data.substr(0, 16) + '…</span>';
                    return data;
                }
            },
            {
                targets: 4, // Estado
                data: null,
                render: function(data, type, row, meta) {
                    switch (data)    {
                        case "PENDIENTE":   return '<span class="badge rounded-pill bg-warning px-3 ms-3 text-dark">Pendiente</span>';   break;
                        case "CANCELADO":   return '<span class="badge rounded-pill bg-danger px-3 ms-3">Cancelado</span>';   break;
                        case "CONTESTADO":  return '<span class="badge rounded-pill bg-success px-3 ms-3">Contestado</span>';   break;
                    }
                    return data;
                }
            }
        ];

        let resp01Select = document.getElementById('resp01Select').value;
        let estadoSelect = document.getElementById('estadoSelect').value;

        if(resp01Select != '')
            configDataTable['ajax']['data']['respuesta_01'] = resp01Select;
        if(estadoSelect != '')
            configDataTable['ajax']['data']['estado'] = estadoSelect;
        
        $('#respuestas_datatable').DataTable(configDataTable);
    </script>
    <!-- Función de buscador -->
    <script type="text/javascript">
        function buscar() {
            let resp01Select = document.getElementById('resp01Select').value;
            let estadoSelect = document.getElementById('estadoSelect').value;

            if( configDataTable['ajax']['data']['respuesta_01'] === undefined && resp01Select === '' &&
                configDataTable['ajax']['data']['estado'] === undefined && estadoSelect === ''
            )
                return false;

            $('#respuestas_datatable').DataTable().destroy();

            if(resp01Select == '')
                delete configDataTable['ajax']['data']['respuesta_01'];
            else
                configDataTable['ajax']['data']['respuesta_01'] = resp01Select;
            if(estadoSelect == '')
                delete configDataTable['ajax']['data']['estado'];
            else
                configDataTable['ajax']['data']['estado'] = estadoSelect;

            $('#respuestas_datatable').DataTable(configDataTable);
        };

        function limpiar()  {
            if( configDataTable['ajax']['data']['respuesta_01'] === undefined &&
                configDataTable['ajax']['data']['estado'] === undefined
            )
                return false;
            
            delete configDataTable['ajax']['data']['respuesta_01'];
            delete configDataTable['ajax']['data']['estado'];

            $('#respuestas_datatable').DataTable().destroy();
            $('#respuestas_datatable').DataTable(configDataTable);
        };
    </script>
{% endblock %}
