{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Partido{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(tdt_partido.siglas) %}
        {{ topbar.button_previous('Partidos', url_for('tdt_partidos.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=tdt_partido.estatus) %}
        {{ detail.label_value_big('Siglas', tdt_partido.siglas) }}
        {{ detail.label_value('Nombre', tdt_partido.nombre) }}
        {{ detail.label_value('Creado', moment(tdt_partido.creado, local=True).format('llll')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
