{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Categoria{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(cit_categoria.nombre) %}
        {{ topbar.button_previous('Categorias', url_for('cit_categorias.list_active')) }}
        {% if current_user.can_edit('CIT CATEGORIAS') %}
            {{ topbar.button_edit('Editar', url_for('cit_categorias.edit', cit_categoria_id=cit_categoria.id)) }}
            {% if cit_categoria.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_categorias.delete', cit_categoria_id=cit_categoria.id)) }}{% endif %}
            {% if cit_categoria.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_categorias.recover', cit_categoria_id=cit_categoria.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_categoria.estatus) %}
        {{ detail.label_value_big('Nombre', cit_categoria.nombre) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CIT CATEGORIAS') %}
        {% if cit_categoria.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cit_categoria.nombre + '?') }}{% endif %}
        {% if cit_categoria.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cit_categoria.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
