{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Categoría {{ cit_categoria.nombre }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Categoría ' + cit_categoria.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'cit_categoria_id': cit_categoria.id} %}
        {% call f.form_tag('cit_categorias.edit', fid='cit_categoria_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
