{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Boletin{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(boletin.asunto) %}
        {{ topbar.button_previous('Boletines', url_for('boletines.list_active')) }}
        {% if current_user.can_edit('BOLETINES') %}
            {{ topbar.button_edit('Editar', url_for('boletines.edit', boletin_id=boletin.id)) }}
            {% if boletin.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('boletines.delete', boletin_id=boletin.id)) }}{% endif %}
            {% if boletin.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('boletines.recover', boletin_id=boletin.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=boletin.estatus) %}
        {{ detail.label_value_big('Asunto', boletin.asunto) }}
        {{ detail.label_value('Estado', boletin.estado) }}
        {{ detail.label_value('Envio programado', moment(boletin.envio_programado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    {% call detail.card(estatus=boletin.estatus) %}
        {{ contenido }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('BOLETINES') %}
        {% if boletin.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + boletin.asunto + '?') }}{% endif %}
        {% if boletin.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + boletin.asunto + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
