{% extends 'layouts/email.jinja2' %}

{% block asunto %}
    <h1 style='margin: 0px;'>{{ mensaje_asunto }}</h1>
{% endblock %}

{% block elaboracion %}
    <small style="color: #657c96;"><i>Fecha de elaboración: {{ fecha_elaboracion }}</i></small>
{% endblock %}

{% block destinatario %}
    <h3 style='margin-bottom: 0px;'>Hola {{ destinatario_nombre }}</h3>
{% endblock %}

{% block contenido %}
    {{ mensaje_contenido }}
{% endblock %}
