{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('BOLETINES') %}
            {{ topbar.button_list_active('Archivados', url_for('boletines.list_active')) }}
            {{ topbar.button_list_inactive('Eliminados', url_for('boletines.list_inactive')) }}
        {% endif %}
        {% if current_user.can_insert('BOLETINES') %}
            {{ topbar.button_new('Nuevo Boletin', url_for('boletines.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card(title='Borradores') %}
        <table id="boletines_borradores_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Envio P.</th>
                    <th>Asunto</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    {% call list.card(title='Programados') %}
        <table id="boletines_programados_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Envio P.</th>
                    <th>Asunto</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        // Boletines Borradores
        configDataTable['ajax']['url'] = '/boletines/datatable_json';
        configDataTable['ajax']['data'] = { estado: 'BORRADOR', estatus: 'A' };
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'asunto' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + moment(data.envio_programado).format('DD MMM YYYY') + '</a>';
                }
            }
        ];
        $('#boletines_borradores_datatable').DataTable(configDataTable);
        // Boletines Programados
        configDataTable['ajax']['url'] = '/boletines/datatable_json';
        configDataTable['ajax']['data'] = { estado: 'PROGRAMADO', estatus: 'A' };
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'asunto' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + moment(data.envio_programado).format('DD MMM YYYY') + '</a>';
                }
            }
        ];
        $('#boletines_programados_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
