{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Oficina-Servicio{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Oficina-Servicio ' + cit_oficina_servicio.descripcion) %}
        {{ topbar.button_previous('Oficinas-Servicios', url_for('cit_oficinas_servicios.list_active')) }}
        {% if current_user.can_edit('CIT OFICINAS SERVICIOS') %}
            {% if cit_oficina_servicio.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_oficinas_servicios.delete', cit_oficina_servicio_id=cit_oficina_servicio.id)) }}{% endif %}
            {% if cit_oficina_servicio.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_oficinas_servicios.recover', cit_oficina_servicio_id=cit_oficina_servicio.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_oficina_servicio.estatus) %}
        {{ detail.label_value('Oficina clave', cit_oficina_servicio.autoridad.clave, url_for('oficina.detail', autoridad_id=cit_oficina_servicio.autoridad_id)) }}
        {{ detail.label_value('Oficina descripcion', cit_oficina_servicio.autoridad.descripcion_corta) }}
        {{ detail.label_value('Servicio clave', cit_oficina_servicio.cit_servicio.clave, url_for('cit_servicios.detail', cit_servicio_id=cit_oficina_servicio.cit_servicio_id)) }}
        {{ detail.label_value('Servicio descripcion', cit_oficina_servicio.cit_servicio.descripcion) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CIT OFICINAS SERVICIOS') %}
        {% if cit_oficina_servicio.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar ' + cit_oficina_servicio.descripcion '?') }}{% endif %}
        {% if cit_oficina_servicio.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar ' + cit_oficina_servicio.descripcion '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
