{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Encuestas{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card("Listado de encuenstas activas") %}
    <div class="list-group">
        {% if current_user.can_view('ENC SISTEMAS') %}
        <a href="{{url_for('enc_sistemas.list_active')}}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">Encuesta del Sistema</h5>
        <div class="text-muted">Califica el uso del sistema por parte de los clientes.</div>
        </a>
        {% endif %}
        {% if current_user.can_view('ENC SERVICIOS') %}
        <a href="{{url_for('enc_servicios.list_active')}}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">Encuesta de Servicio</h5>
        <div class="text-muted">Califica la atención y servicio recibido por parte de los juzgados.</div>
        </a>
        {% endif %}
    </div>
    {% endcall %}
{% endblock %}

