{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Clientes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Cliente ' + cit_cliente.email) %}
        {{ topbar.button_previous('Clientes', url_for('cit_clientes.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_cliente.estatus) %}
        {{ detail.label_value_big('Nombre', cit_cliente.nombre) }}
        {{ detail.label_value('CURP', cit_cliente.curp) }}
        {{ detail.label_value('Teléfono', cit_cliente.telefono) }}
        {{ detail.label_value('Renovación', moment(cit_cliente.renovacion).format('ll')) }}
        {{ detail.label_value('Creado', moment(cit_cliente.creado).format('llll')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
