{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}

{% block title %}Clientes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Cliente ' + cit_cliente.email) %}
        {{ topbar.button_previous('Clientes', url_for('cit_clientes.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_cliente.estatus) %}
        {{ detail.label_value_big('Nombre', cit_cliente.nombre) }}
        {{ detail.label_value('CURP', cit_cliente.curp) }}
        {{ detail.label_value('Teléfono', cit_cliente.telefono) }}
        {{ detail.label_value('Renovación', moment(cit_cliente.renovacion).format('ll')) }}
        {{ detail.label_value('Creado', moment(cit_cliente.creado).format('llll')) }}
    {% endcall %}
    {% if current_user.can_view('CIT CITAS') %}
        {% if recuperacion %}
            <div class="alert alert-warning" role="alert">
                <div class=" d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <h4 class="alert-heading">Recuperación de Contraseña</h4>
                </div>
                <p>Este usuario se encuentra en estado de recuperación de contraseña.<br>
                Aquí se enlistan los datos generados.</p>
                <hr>
                <p>
                    <strong>Generado: </strong>{{ moment(recuperacion.creado).format('YYYY-MM-DD HH:m a') }}<br>
                    <strong>Expiración: </strong>{{ moment(recuperacion.expiracion).format('YYYY-MM-DD HH:m a') }}<br>
                    <strong>Cantidad de mensajes: </strong><span class="badge bg-secondary">{{ recuperacion.mensajes_cantidad }}</span><br>
                    <strong>Link de recuperación: </strong><br>{{ url_recuperacion }}<br>
                </p>
                    
                    <a href="{{ url_for('cit_clientes.send_email_recover_password', cit_cliente_recuperacion_id=recuperacion.id) }}" role="button" class="btn btn-primary btn-sm m-2 ms-0">Reenvíar correo
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-plus" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                        </svg>
                    </a>
                    <a href="{{ url_recuperacion }}" target="_blank">Ir al link <span class="iconify" data-icon="mdi:open-in-new"></span></a>
            </div>
        {% endif %}

        {% call list.card("Citas") %}
            <table id="cit_citas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Inicio</th>
                        <th>Termino</th>
                        <th>Oficina</th>
                        <th>Servicio</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {% if current_user.can_view('CIT PAGOS') %}
        {% call list.card("Pagos") %}
            <table id="cit_pagos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Total</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('CIT PAGOS') %}
            <a href="{{ url_for('cit_pagos.new', cit_cliente_id=cit_cliente.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    {{ list.config_datatable() }}
    {% if current_user.can_view('CIT CITAS') %}
        <script>
            configDataTable['ajax']['url'] = '/cit_citas/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'cit_cliente_id': {{ cit_cliente.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "fecha" },
                { data: "inicio" },
                { data: "termino" },
                { data: "oficina" },
                { data: "cit_servicio" },
                { data: "estado" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 1, // fecha
                    type: 'date',
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("DD MMM YYYY");
                    }
                },
                {
                    targets: [4, 5], // oficina, cit_servicio
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url != '') {
                            return '<span title="' + data.descripcion + '">' + '<a href="' + data.url + '">' + data.clave + '</a></span>';
                        }
                        return data.clave
                    }
                },
                {
                    targets: 6, // Estado
                    data: null,
                    render: function(data, type, row, meta) {
                        let color = "black";
                        switch (data)    {
                            case "ASISTIO":     color = "#0b5345"; break;
                            case "PENDIENTE":   color = "#7d6608"; break;
                            case "CANCELO":     color = "#e53935"; break;
                        }
                        return '<strong style="color:' + color + '; display:block; text-align:center;">' + data + '</strong>';
                    }
                }
            ];
            configDataTable['createdRow'] = function( row, data, dataIndex ){
                switch (data.estado)    {
                    case "PENDIENTE": $(row).css("background-color", "#fef9e7");  break;
                    case "CANCELO":   $(row).css("background-color", "#fdedec");  break;
                    case "ASISTIO":   $(row).css("background-color", "#eafaf1");  break;
                }
            };
            $('#cit_citas_datatable').DataTable(configDataTable);
        </script>
        <script>
            configDataTable['ajax']['url'] = '/cit_pagos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'cit_cliente_id': {{ cit_cliente.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "descripcion" },
                { data: "total" },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                }
            ];
            $('#cit_pagos_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
