{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Clientes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_edit('CIT CLIENTES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_clientes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_clientes.list_active')) }}{% endif %}
        {% endif %}
        {{ topbar.button_search('Buscar', url_for('cit_clientes.search')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="cit_clientes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>e-mail</th>
                    <th>Nombre Completo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ list.config_datatable() }}
    <script>
        configDataTable['ajax']['url'] = '/cit_clientes/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "email" },
            { data: "nombre_completo" },
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0,
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                }
            }
        ];
        $('#cit_clientes_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
