{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_admin('CIT CLIENTES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cit_clientes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cit_clientes.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Cit Clientes -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCitClientes.buscar(); return false;">
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroEmail" type="text" class="form-control" aria-label="Correo Electrónico">
                            <label for="filtroEmail">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                            <label for="filtroNombres">Nombres</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroPrimerApellido" type="text" class="form-control" aria-label="Primer Apellido" style="text-transform: uppercase;">
                            <label for="filtroPrimerApellido">Primer Apellido</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCitClientes.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCitClientes.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Cit Clientes -->
        <table id="cit_clientes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Correo Electrónico</th>
                    <th>Nombre Completo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Cit Clientes
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCitClientes = constructorDataTable.config();
        configDTCitClientes['ajax']['url'] = '/cit_clientes/datatable_json';
        configDTCitClientes['ajax']['data'] = {{ filtros }};
        configDTCitClientes['columns'] = [
            { data: "detalle" },
            { data: "nombre" },
            { data: "telefono" }
        ];
        configDTCitClientes['columnDefs'] = [
            {
                targets: 0, // detalle (email)
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.email + '</a>';
                }
            },
            {
                targets: 2, // telefono
                data: null,
                render: function(data, type, row, meta) {
                    return '<span class="font-monospace">' + data + '</span>';
                }
            }
        ];
        // Filtros Cit Clientes
        const filtrosCitClientes = new FiltrosDataTable('#cit_clientes_datatable', configDTCitClientes);
        filtrosCitClientes.agregarInput('filtroEmail', 'email');
        filtrosCitClientes.agregarInput('filtroNombres', 'nombres');
        filtrosCitClientes.agregarInput('filtroPrimerApellido', 'apellido_primero');
        filtrosCitClientes.precargar();
    </script>
{% endblock %}
