{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}

{% block title %}Reporte de Clientes{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Reporte de Clientes - ' + reporte.titulo) %}
        {{ topbar.button_previous('Reportes', url_for('cit_clientes.report_list')) }}
        {{ topbar.button_previous('Clientes', url_for('cit_clientes.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card('Reporte hecho el ' + fecha_creacion ) %}
        <h4>{{reporte.titulo}}
            {% if reporte.cantidad == 0 %}
                <span class="badge bg-success rounded-pill"><span class="iconify me-1" data-icon="mdi:check-bold"></span>OK</span>
            {% elif reporte.cantidad >= 30 %}
                <span class="badge bg-danger rounded-pill"><span class="iconify me-1" data-icon="mdi:alert-octagon"></span>{{reporte.cantidad}}+</span>
            {% else %}
                <span class="badge bg-warning text-dark rounded-pill"><span class="iconify me-1" data-icon="mdi:alert"></span>{{reporte.cantidad}}</span>
            {% endif %}
        </h4>
        <p>{{reporte.descripcion}}</p>

        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
        {% for registro in resultados %}
            <tr>
                <td><a href="{{url_for('cit_clientes.detail', cit_cliente_id=registro.id)}}">{{registro.id}}</a></td>
                <td>{{registro.valor}}</td>
            </tr>
        {% endfor %}
    {% endcall %}
{% endblock %}