{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Estadísticas de Citas{% endblock %}

{% block custom_head %}
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons("Estadísticas de Citas - Porcentaje por Estados") %}
        {{ topbar.button_previous('Citas', url_for('cit_citas.list_active')) }}
    {% endcall %}

    {% call topbar.page_buttons() %}
        <a class="btn btn-outline-success" role="button" href="{{url_for('cit_citas_stats.stats', categoria='FECHAS_TOTALES')}}">Conteo</a>
        <a class="btn btn-success disabled" role="button" aria-disabled="true">Estados</a>
    {% endcall %}
{% endblock %}

{% block content %}
    <div class="row">
        <canvas id="myChart"></canvas>
    </div>
    {% if current_user.can_edit('CIT CITAS STATS') %}
    <div>
        {{ topbar.button_primary('Actualizar Estadística', url_for('cit_citas_stats.actualizar_stats', categoria='CITAS_ESTADO'), 'mdi:refresh') }}
    </div>
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Chart.js 3.8.0 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
        let myChart;

        $( document ).ready(function() {
            crear_chart();
            cargar_datos_ajax();
        });

        function cargar_datos_ajax(subcategoria="PORCENTAJE") {
            $.ajax({
                type: "GET",
                url: '/cit_citas_stats/data/CITAS_ESTADO/' + subcategoria,
                success: function (dataCheck) {
                    myChart.destroy();
                    delete myChart;
                    crear_chart(
                        dataCheck.titulo,
                        dataCheck.subtitulo,
                        dataCheck.label,
                        dataCheck.etiquetas,
                        dataCheck.datos,
                        );
                }
            });
            return false;
        };

        function crear_chart(titulo, subtitulo, label, etiquetas, datos) {
            const data_chart = {
                labels: etiquetas,
                datasets: [{
                    label: label,
                    backgroundColor: [
                        'rgb(75, 192, 192)', // ASISTIO
                        'rgb(255, 99, 132)', // CANCELO
                        'rgb(255, 205, 86)', // PENDIENTE
                    ],
                    borderColor: [
                        'rgb(240, 240, 240)',
                    ],
                    data: datos,
                }]
            };

            const config = {
                type: 'doughnut',
                data: data_chart,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: titulo,
                            font: {
                                size: 18
                            }
                        },
                        subtitle: {
                            display: true,
                            text: subtitulo
                        },
                        legend: {
                            position: 'top',
                        }
                    }
                }
            };

            myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        };
    </script>
    {{ detail.moment_js(moment) }}
{% endblock %}
