{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Servicio{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Servicio: ' + cit_servicio.clave) %}
        {{ topbar.button_previous('Servicios', url_for('cit_servicios.list_active')) }}
        {% if current_user.can_edit('CIT SERVICIOS') %}
            {{ topbar.button_edit('Editar', url_for('cit_servicios.edit', cit_servicio_id=cit_servicio.id)) }}
            {% if cit_servicio.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cit_servicios.delete', cit_servicio_id=cit_servicio.id)) }}{% endif %}
            {% if cit_servicio.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cit_servicios.recover', cit_servicio_id=cit_servicio.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=cit_servicio.estatus) %}
        {{ detail.label_value_big('Clave', cit_servicio.clave) }}
        {{ detail.label_value('Categoria', cit_servicio.cit_categoria.nombre, url_for('cit_categorias.detail', cit_categoria_id=cit_servicio.cit_categoria_id)) }}
        {{ detail.label_value('Descripcion', cit_servicio.descripcion) }}
        {{ detail.label_value('Duración', cit_servicio.duracion.strftime("%H:%M")) }}
        {{ detail.label_value('Documentos Limite', cit_servicio.documentos_limite) }}
    {% endcall %}
    {# Autoridades-Servicios del servicio #}
    {% if current_user.can_view('CIT AUTORIDADES SERVICIOS') %}
        {% call detail.card('Autoridades') %}
            <table id="autoridades_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Clave</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('CIT AUTORIDADES SERVICIOS') %}
            <a href="{{ url_for('cit_autoridades_servicios.new_with_cit_servicio', cit_servicio_id=cit_servicio.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CIT SERVICIOS') %}
        {% if cit_servicio.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar ' + cit_servicio.clave + '?') }}{% endif %}
        {% if cit_servicio.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar ' + cit_servicio.clave + '?') }}{% endif %}
    {% endif %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('CIT AUTORIDADES SERVICIOS') %}
        <script>
            configDataTable['ajax']['url'] = '/cit_autoridades_servicios/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'cit_servicio_id': {{ cit_servicio.id }} };
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'autoridad' },
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 1, // autoridad
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                },
            ];
            $('#cit_autoridades_servicios_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
{% endblock %}
