{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Trámite y Servicio{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + pag_tramite_sevicio.pag_tramites_servicios) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'pag_tramite_sevicio_id': pag_tramite_sevicio.id} %}
        {% call f.form_tag('pag_tramites_servicios.edit', fid='pag_tramite_sevicio_form', **form_kwargs) %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.costo) %}{% endcall %}
            {% call f.form_group(form.url) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
