{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/start.jinja2' as start %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Sistema de Citas{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Sistema de Citas') }}
{% endblock %}

{% block content %}
    {% call detail.card(title='Bienvenido') %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
